NEXT_PUBLIC_SUPABASE_URL=https://bqgsuexdjiihtysyaysr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJxZ3N1ZXhkamlpaHR5c3lheXNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE4OTk2NTAsImV4cCI6MjA3NzQ3NTY1MH0.nlA-Smg-8e3PmyNASgv7NZ_p5KOhPVWWya1d5V3azLE
